@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Jost:ital,wght@0,100..900;1,100..900&family=Nothing+You+Could+Do&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nothing+You+Could+Do&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');





*{
    margin:0px;
    padding:0px;
    text-align: justify;
}

:root{
    --fonte--FURR: "Cinzel Decorative", serif;
    --fonte--destaque: "Nothing You Could Do";
    --fonte--padrao:"Roboto Flex", sans-serif;
    
    
    --cor0: white;
    --cor1: #FFC5BF;
    --cor2:#C96D65;
    --cor3:#8A2B22;
    --cor4:#4A0600;
    --corp0: black;
}

header{
    background-color: var(--cor4);
    padding: 20px;

}
header h1{
    font-family: var(--fonte--FURR);
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5em;
}
   
header p{
    font-family: var(--fonte--destaque);
    color:var(--cor1);
    padding: 20px 30px 0px 500px;
    font-size: 1.5em;
    line-height: 2.3em;
    font-weight: normal;}

a#home{ 
    color: var(--cor0);
     font-size: 3em;
     margin: 0px;
     margin-left: 20px;
     padding: 0px;
     text-decoration: none;}

     a#home:hover{
        background-color: var(--cor1) ;
        color: var(--cor2) ;
    }
 




main video{
    margin: auto;
    width: 1000px;
    height: 50%;
    margin-left: 240px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.607);
}


main article{
    font-family:var(--fonte--padrao);
    padding: 20px 40px 20px 40px;
    font-size: 1.5em;
    line-height: 1.8em;
    font-weight: 300;
}
main h2{ 
    font-family: var(--fonte--FURR);
    padding: 10px 0px 10px 10px;

}


main a{
    color: var(--corp0);
    font-size: 3em;
    text-decoration: none;}

    main a:hover{ 
        color: var(--cor3);
        background-color: var(--cor1);}

        footer{
            color: var(--cor0);
                background-color: var(--corp0);
                font-size: 0.8em;
                padding: 20px 20px 0px 10px;
        }
        footer nav a{ 
            background-color: var(--corp0);
            font-family: var(--fonte--padrao);
            text-align: right;
            text-decoration: none;
            color:var(--cor1);
            font-weight:200;
            line-height: 50px;
            padding: 5px 20px 10px 10px;
            margin-right: 10px;}
        
        
        footer a:hover{ 
            color: var(--cor0);
            background-color: rgba(255, 255, 255, 0.285)}